html,
body {
  margin: 10px;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
}

.container2 {
    display: inline-block;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding-right: 5rem;
    margin-left: 11cm;
    margin-top: 3cm;

  } 
 

ul li, p {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  list-style: none;
}


li {
    font-size: 15px;
    margin-top: 25px;
    padding: 15px;
}

h1 {
    font-size: 30px;
    margin-left: 1cm;
    color: #adb5bd;
}


ul :hover {
    color: lightblue;
}

#FAQ :hover {
    color: #90be6d;
}

