html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 4.75rem 1fr 4.75rem;
  grid-template-areas:
    "header header header"
    ". content ."
    "footer footer footer";
  min-height: 100vh;
  row-gap: 2rem;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

#addToShoppingCart p,
.checkOut p,
.pay p,
.seeRecipes p {
  font-size: 1rem;
  color: #ffffff;
  align-self: center;
}

#addToShoppingCart:hover,
.checkOut:hover,
.payButton:hover,
.seeRecipes:hover {
  background-color: #47af69;
  cursor: pointer;
}

/*#region header + nav bar*/

.header {
  grid-area: header;
}

.topnav {
  background-color: #ffffff;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 4.75rem;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  z-index: 4;
  overflow: hidden;
}

.topnav a.active {
  color: #50c878;
  font-size: 1rem;
}

.topnav ul li a {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  list-style: none;
  text-decoration: underline;
}

.topnav ul li a:hover {
  color: #50c878;
}

.topnav ul .shoppingCartParent {
  width: 2.4rem;
}

#shoppingCartBall,
#shoppingCartBallMobile {
  display: flex;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #50c878;
  position: absolute;
  margin-left: 1.5rem;
  justify-content: center;
  align-items: center;
  transform: translateY(-0.6rem);
}

#shoppingCartBall p,
#shoppingCartBallMobile p {
  display: inline-block;
  font-size: 0.75rem;
  color: #ffffff;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.logo {
  margin-left: 1rem;
}

.logo img {
  height: 4.75rem;
  padding: 0.25rem 0;
  box-sizing: border-box;
}

.shoppingCart img {
  width: 1.4rem;
}

.hamburgerMenu img {
  display: none;
  width: 1.4rem;
}

.topnav ul {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 2rem;
}

.topnav ul li {
  text-align: center;
  align-self: center;
  list-style: none;
  padding: 0 1rem;
  margin: 0 1rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input,
button {
  background: none;
  border: none;
}

input {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  width: 10rem;
  color: #999999;
}

input:focus {
  outline: none;
  color: #000000;
}

#search:focus-within {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.15);
}

#search {
  display: inline-flex;
  flex-direction: row;
  width: 13rem;
  background-color: #edecec;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-left: 3rem;
  box-sizing: border-box;
}

.mobileNav {
  display: none;
}

button {
  width: 2rem;
  box-sizing: border-box;
}

button img {
  box-sizing: border-box;
  width: 2rem;
  padding: 0 0.5rem;
}

/*#endregion*/

.content {
  grid-area: content;
  width: 100%;
  transition: 200ms;
}

/*#region landing page*/
.seeRecipes {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  width: 30%;
  text-align: center;
  z-index: 1;
  max-width: 20rem;
  background-color: #50c878;
  padding: 1rem 0;
  border-radius: 0.5rem;
  position: absolute;
  transform: translateY(-3.75rem);
}

.firstPage {
  z-index: 2;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

.headline h1 {
  margin-left: calc(50% / 2);
  font-size: 2rem;
}

.headline p {
  font-size: 1rem;
  color: #000000;
}

.background img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  position: fixed;
  top: 4.75rem;
  left: 0;
}

.headline {
  width: 50%;
  display: block;
}

/*#endregion*/

/*#region recipe page*/

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 3rem;
}

.swedishBreakfast:hover {
  transform: scale(1.1);
  transition: 200ms;
}

.cardImage {
  height: calc(22rem * 0.62);
  object-fit: cover;
}

.swedishBreakfast {
  position: relative;
  width: 22rem;
  height: 24rem;
  border-radius: 1rem;
  background-color: #ffffff;
  margin: 0 2.25rem;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  transition: 200ms;
}

.swedishBreakfast img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 22rem;
}

.swedishBreakfast h1 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.time img {
  width: 1.4rem;
}

.timeToCook {
  display: inline;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #bababa;
  padding: 0 0.5rem;
}

.time {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  width: 8rem;
  bottom: 0;
  left: 0.75rem;
}

.price {
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  color: #bababa;
  font-size: 0.9rem;
}

.reviews img {
  display: inline;
  width: 1.4rem;
  margin-right: 0;
  margin-left: 0;
}

.reviews {
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
}

.dishDescription {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #bababa;
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.recipe {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.detailsBackground {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#details {
  position: fixed;
  max-width: 40rem;
  overflow-y: auto;
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: calc(4.75rem + 0.75rem);
  bottom: 0;
  z-index: 3;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}

#image {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 40rem;
  height: calc(40rem * 0.62);
  object-fit: cover;
}

.clock {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 1rem;
  width: 8rem;
  height: 2rem;
  top: 22rem;
  left: 1rem;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  transition: 200ms;
}

.clock:hover {
  transform: scale(1.1);
  transition: 200ms;
}

.clock img {
  width: 1.4rem;
  margin-left: 0.5rem;
}

.clock p {
  display: inline;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #bababa;
  padding: 0 0.5rem;
  width: calc(8rem - 1.4rem - 0.5rem);
  text-align: center;
}

#close {
  display: flex;
  position: absolute;
  padding: 0;
  left: 37rem;
  top: 0.75rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#close p {
  position: absolute;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin: 0;
  transform: translateY(-1px);
}

.ingredientsHeader,
.serveWithHeader,
.howToHeader {
  font-size: 0.75rem;
  color: #000000;
  margin-bottom: 0;
}

.ingredients,
.serveWith {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin-top: 0.2rem;
}

.ingredients li,
.serveWith li {
  font-size: 0.75rem;
  text-align: start;
  justify-content: flex-start;
  list-style-type: none;
  color: #555555;
}

.howTo {
  font-size: 0.75rem;
  text-align: start;
  margin-top: 0.2rem;
  color: #555555;
  padding-bottom: 4rem;
}

#addToShoppingCart {
  display: flex;
  position: fixed;
  background-color: #50c878;
  width: 23rem;
  bottom: 0.75rem;
  height: 3rem;
  border-radius: 0.5rem;
  margin-left: calc((40rem - 23rem) / 2);
  justify-content: center;
}

/*#endregion*/

/*#region shopping cart page*/

.shoppingCartSite {
  grid-area: content;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 23rem;
  max-width: 70rem;
  column-gap: 2rem;
  margin: 0 auto;
  margin-top: 1rem;
}

#shoppingCartBall,
#shoppingCartBallMobile {
  display: flex;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #50c878;
  position: absolute;
  margin-left: 1.5rem;
  justify-content: center;
  align-items: center;
  transform: translateY(-0.6rem);
}

.shoppingCartAnimation {
  animation-name: shoppingCartBounce;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  transform-origin: bottom;
}

@keyframes shoppingCartBounce {
  0% {
    transform: scale(1, 1) translateY(-0.6rem);
  }
  25% {
    transform: scale(1.1, 0.9) translateY(-0.8rem);
  }
  50% {
    transform: scale(1.1, 1) translateY(-1rem);
  }
  75% {
    transform: scale(1.1, 0.9) translateY(-0.8rem);
  }
  100% {
    transform: scale(1, 1) translateY(-0.6rem);
  }
}

.cart {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
}

.cart h1 {
  margin-left: 1rem;
  padding-top: 0.75rem;
}

hr {
  border: 0.05rem solid #bababa;
  width: calc(100% - 2rem);
}

.cartMeal {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

.continue {
  display: flex;
  position: absolute;
  background-color: #ffffff;
  border: solid #bababa 0.1rem;
  width: 18rem;
  height: 3rem;
  border-radius: 0.5rem;
  justify-content: center;
  margin-left: calc((23rem - 18rem) / 2);
  margin-top: 8rem;
}

.cartMealInfo {
  position: relative;
  width: calc(100% - 12rem - 3rem);
}

#cartMealImage {
  width: 12rem;
  border-radius: 1rem;
  height: 7.5rem;
}

.cartMealName {
  display: inline-block;
  margin-left: 1rem;
}

.cartMealMoney {
  display: inline-block;
  margin-left: 7.9rem;
}

.cartMealP {
  display: inline-block;
  color: #bababa;
  margin-left: 1rem;
}

.cartMealAvailable {
  display: inline-block;
  color: #50c878;
  margin-left: 1rem;
}

.cartMealSmallInfo {
  position: relative;
}

.amountDelete {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addRemove {
  width: 1rem;
  fill: #bababa;
}

#remove,
#add {
  width: 0.6rem;
}

.delete {
  display: flex;
  width: 5rem;
  margin-right: 1rem;
}

.trash {
  width: 1.2rem;
}

.trashP {
  color: #bababa;
  margin-left: 0.5rem;
}

.amountCard {
  display: flex;
  border: 0.05rem solid #bababa;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1rem;
}

.amount {
  display: inline-block;
  width: 2rem;
  text-align: center;
  margin: 0;
}

.total {
  position: relative;
  background-color: #ffffff;
  width: 23rem;
  height: 16rem;
  border-radius: 1rem;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
}

.totalAmount {
  display: inline-block;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 3rem;
}

.totalDollars {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 14rem;
}

.checkOut {
  display: flex;
  position: absolute;
  background-color: #50c878;
  width: 18rem;
  height: 3rem;
  border-radius: 0.5rem;
  justify-content: center;
  margin-top: 4rem;
  margin-left: calc((23rem - 18rem) / 2);
  align-self: center;
}

.continue:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.continue p {
  font-size: 1rem;
  color: #000000;
  align-self: center;
}

/*#endregion*/

/*#region payment page*/

.payment {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: calc(47rem + 23rem + 1rem);
  width: 100%;
  margin-top: 1rem !important;
  column-gap: 2rem;
  margin: 0 auto;
}

.summaryOrder {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  max-width: 23rem;
  width: 100%;
  box-sizing: border-box;
}

.summaryOrder h1,
.paymentDetails h1 {
  margin-top: 0.75rem;
  margin-left: 1rem;
}

.summaryOrderInfo {
  display: flex;
  margin-top: 2rem;
}

.summaryOrder img {
  display: inline-block;
  width: 8rem;
  height: 4.9rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.summaryOrder hr {
  width: 21rem;
}

.summaryOrderName {
  display: inline-block;
}

.money {
  margin-left: 9rem;
  transform: translateY(-2rem);
}

.paymentDetails {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  width: 100%;
  max-width: 47rem;
  box-sizing: border-box;
  padding-bottom: 2rem;
}

.paymentDetails form {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 1rem;
  row-gap: 0.5rem;
  margin: 0 auto;
}

.paymentDetails input:focus {
  border: 1px solid #50c878;
}

.paymentDetails input {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 2rem;
  border: 1px solid #bababa;
  border-radius: 0.5rem;
  padding: 1rem;
}

.paymentDetails label {
  margin-top: 0.5rem;
}

.paymentDetails .billingAddress input {
  border: none;
}

.cardNumber {
  display: grid;
  grid-template-columns: 1fr 5rem 5rem;
}

#number {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#exDate {
  border-left: none;
  border-radius: 0;
}

#cvc {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.billingAddress {
  display: grid !important;
  border: 1px solid #bababa;
  border-radius: 0.5rem;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  height: 4rem;
  row-gap: 0rem;
}

.billingAddress input:focus {
  border: 1px solid #50c878;
}

#street {
  grid-column-start: 1;
  grid-column-end: 3;
  border-bottom: 1px solid #bababa;
  border-radius: 0;
}

#city {
  border-right: 1px solid #bababa;
  border-radius: 0;
  grid-column-start: 1;
  grid-column-end: 2;
}

#zipCode {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.cardDetails,
.billingAddress {
  display: flex;
}

.infoText {
  color: #bababa;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.totalPay {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1rem;
}

.payButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #50c878;
  width: 60%;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 0.75rem;
}

/*#endregion*/

/*#region successful page*/

/* 
 The code for positioning the image on top of the other was influenced by https://www.tutorialrepublic.com/faq/how-to-overlay-one-div-over-another-div-using-css.php#:~:text=You%20can%20use%20the%20CSS,%2C%20fixed%20%2C%20or%20relative%20). */

.gridContainer {
  grid-area: content;
  display: inline-block;
  border-radius: 1rem;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
}

.box {
  text-align: center;
}

.box h1 {
  color: #50c878;
}

#box2 {
  display: inline-block;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.cow {
  width: 20%;
  top: 15rem;
  left: calc((100% - 20%) / 2);
  position: absolute;
  animation: jump 0.6s linear infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.confetti {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  z-index: 9;
}

/*#endregion*/

/*#region footer*/

.text-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  max-width: 12rem;
  text-align: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.text-center a img {
  width: 100%;
  height: 100%;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.text-center a {
  filter: grayscale(90%);
  transition: 200ms;
  cursor: pointer;
}

.text-center a:hover {
  filter: grayscale(0);
  transition: 200ms;
  cursor: pointer;
}

.text-center h1 {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;
}

/* The following code was influenced by https://www.youtube.com/watch?v=zdA3qZNH1vc Created on: 02/12/2022 */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  height: 4.75rem;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
}

/*#endregion*/

@media screen and (min-width: 901px) and (max-width: 1300px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .firstPage {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    margin-top: calc(50vh - 0.75rem);
  }

  .headline {
    width: 100%;
  }

  .headline h1 {
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  /*#region nav bar*/

  .topnav {
    display: none;
  }

  .mobileNav {
    display: flex;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 4.75rem;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
    z-index: 4;
    overflow: hidden;
  }

  .mobileNav ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .mobileNav li {
    display: flex;
    align-items: center;
    list-style: none;
    width: 33%;
    height: 4.75rem;
  }

  .mobileNav ul li .logo {
    margin: 0 auto;
  }

  .hamburgerMenu img {
    display: block;
    width: 1.4rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  #hamburgerMenuOptions {
    z-index: 5;
    position: fixed;
    top: 3.75rem;
  }

  #hamburgerMenuOptions ul {
    width: 8rem;
    background-color: #ffffff;
    border-bottom-right-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  #hamburgerMenuOptions ul li {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0.2rem;
  }

  #hamburgerMenuOptions ul li a {
    text-decoration: underline;
    color: #000000;
  }

  #hamburgerMenuOptions ul li a.active {
    color: #50c878;
  }

  /*#endregion*/

  /*#region first page*/

  .firstPage {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    margin-top: calc(50vh - 0.75rem);
  }

  .headline {
    width: 100%;
  }

  .headline h1 {
    margin: 0;
  }

  /*#endregion*/

  /*#region shopping cart page*/

  .shoppingCart {
    margin-left: calc(100% - 1.4rem - 1rem);
  }

  #shoppingCartBallMobile {
    margin-left: calc(33% - 1rem - 0.5rem);
    transform: translateY(-0.8rem);
  }

  /*#endregion*/

  /*#region recipe page*/

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    cursor: pointer;
  }

  .swedishBreakfast {
    width: 95%;
    margin: 0 2.5%;
  }

  .swedishBreakfast img {
    width: 100%;
  }

  .cardImage {
    height: calc(100% * 0.62);
    object-fit: cover;
  }

  .time img {
    width: 1.4rem;
  }

  .reviews img {
    width: 1.4rem;
  }

  h1,
  .swedishBreakfast h1 {
    font-size: 1.25rem;
  }

  #details {
    width: 95%;
    max-width: none;
  }

  #image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }

  .howTo {
    padding-bottom: 5rem;
  }

  .clock {
    top: 12.5rem;
    left: 0.5rem;
  }

  #close {
    left: calc(95% - 2rem + 0.5rem);
    top: 0.5rem;
  }

  #addToShoppingCart {
    width: 60%;
    margin-left: 20%;
  }

  .shoppingCartMobileAnimation {
    animation-name: shoppingCartMobileBounce;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    transform-origin: bottom;
  }

  @keyframes shoppingCartMobileBounce {
    0% {
      transform: scale(1, 1) translateY(-0.8rem);
    }
    25% {
      transform: scale(1.1, 0.9) translateY(-1rem);
    }
    50% {
      transform: scale(1.1, 1) translateY(-1.2rem);
    }
    75% {
      transform: scale(1.1, 0.9) translateY(-1rem);
    }
    100% {
      transform: scale(1, 1) translateY(-0.8rem);
    }
  }

  /*#endregion*/

  /*#region shopping cart page*/

  hr {
    width: calc(100% - 2rem);
  }

  .cart {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0;
  }

  .shoppingCartSite {
    grid-template-columns: 1fr;
  }

  #cartMealImage {
    width: 40%;
    object-fit: cover;
  }

  .cartMeal {
    margin: 0;
    padding: 0;
  }

  .cartMealMoney {
    display: none;
  }

  .cartMealInfo {
    width: 55%;
  }

  .cartMealP {
    margin-top: 0;
  }

  .cartMealAvailable {
    margin-top: 0;
  }

  .total {
    margin: 1.5rem 0;
  }

  /*#endregion*/

  /*#region payment page*/
  .payment {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .paymentDetails {
    width: 100%;
    margin-top: 1rem;
  }

  .payButton {
    margin-top: 1rem;
  }

  .summaryOrder {
    width: 100%;
    height: auto;
  }

  /*#endregion*/

  /*#region successful page*/

  .successfulPage {
    height: 40vh;
  }

  .successful {
    height: 40vh;
  }

  /*#endregion*/
}
