html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 2.25rem 1fr 2.25rem;
  grid-template-areas:
    "header header header"
    ". content ."
    "footer footer footer";
  min-height: 100vh;
}

/*#region header + nav bar*/

.header {
  grid-area: header;
}

.topnav {
  background-color: #ffffff;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 4.75rem;
  margin: 0;
  flex-direction: row;
  justify-content: end;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  z-index: 4;
  overflow: hidden;
}

.topnav a.active {
  color: #50c878;
  font-size: 1rem;
}

.topnav a {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  list-style: none;
}

.topnav a:hover {
  text-decoration: underline;
}

.chevron {
  width: 0.8rem;
}

.shoppingCart img {
  width: 1.4rem;
}

.hamburgerMenu img {
  display: none;
  width: 1.4rem;
}

.topnav ul {
  flex-direction: row;
  display: flex;
  align-self: flex-end;
  padding: 0;
  margin-right: 2rem;
}

.topnav ul li {
  text-align: center;
  align-self: center;
  list-style: none;
  width: 8rem;
}

input,
button {
  background: none;
  border: none;
}

input {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  width: 10rem;
  color: #999999;
}

input:focus {
  outline: none;
  color: #000000;
}

#search:focus-within {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.15);
}

#search {
  display: inline-flex;
  flex-direction: row;
  width: 13rem;
  background-color: #f8f8f8;
  border-radius: 0.25rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.invisible {
  visibility: hidden;
}

button {
  width: 2rem;
  box-sizing: border-box;
}

button img {
  box-sizing: border-box;
  width: 2rem;
  padding: 0 0.5rem;
}

/*#endregion*/

.content {
  grid-area: content;
  width: 100%;
}

.seeRecipes a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

.seeRecipes {
  z-index: 1;
  width: 30%;
  background-color: #50c878;
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
  position: fixed;
}

.firstPage {
  display: flex;
  justify-content: center;
  margin-top: calc(50vh - 0.5rem);
}

.headline {
  width: 50%;
  margin-top: 10rem;
  display: block;
}

.headline h1 {
  margin-left: calc(50% / 2);
  font-size: 2rem;
}

.headline p {
  font-size: 1rem;
  color: #000000;
}

.background img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  position: fixed;
  top: 4.75rem;
  left: 0;
}
/*#region style meal cards*/

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 3rem;
  margin-top: 5rem;
}

.swedishBreakfast {
  position: relative;
  width: 22rem;
  height: 24rem;
  border-radius: 1rem;
  background-color: #ffffff;
  margin: 0 2.25rem;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
}

.swedishBreakfast img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 22rem;
}

.swedishBreakfast h1 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.time img {
  width: 1.4rem;
}

.timeToCook {
  display: inline;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #bababa;
  padding: 0 0.5rem;
}

.time {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  width: 8rem;
  bottom: 0;
  left: 0.75rem;
}

.price {
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  color: #bababa;
  font-size: 0.9rem;
}

.reviews img {
  display: inline;
  width: 1.4rem;
  margin-right: 0;
  margin-left: 0;
}

.reviews {
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
}

.dishDescription {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #bababa;
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.recipe {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.detailsBackground {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#details {
  position: fixed;
  max-width: 40rem;
  overflow-y: auto;
  background-color: #ffffff;
  width: 80%;
  height: calc(100vh - 10vh);
  margin: 0 auto;
  left: 0;
  right: 0;
  top: calc(4.75rem + 0.75rem);
  bottom: 0;
  z-index: 3;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#image {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 40rem;
}

.clock {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 1rem;
  width: 8rem;
  height: 2rem;
  top: 22rem;
  left: 1rem;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  transition: 200ms;
}

.clock:hover {
  transform: scale(1.1);
  transition: 200ms;
}

.clock img {
  width: 1.4rem;
  margin-left: 0.5rem;
}

.clock p {
  display: inline;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #bababa;
  padding: 0 0.5rem;
  width: calc(8rem - 1.4rem - 0.5rem);
  text-align: center;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

#close {
  display: flex;
  position: fixed;
  padding: 0;
  top: calc(4.75rem + 0.75rem + 0.75rem);
  right: calc(100vh - 20rem - 2rem + 0.75rem);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#close p {
  position: absolute;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin: 0;
  transform: translateY(-1px);
}

.ingredientsHeader,
.serveWithHeader,
.howToHeader {
  font-size: 0.75rem;
  color: #000000;
  margin-bottom: 0;
}

.ingredients,
.serveWith {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin-top: 0.2rem;
}

.ingredients li,
.serveWith li {
  font-size: 0.75rem;
  text-align: start;
  justify-content: flex-start;
  list-style-type: none;
  color: #555555;
}

.howTo {
  font-size: 0.75rem;
  text-align: start;
  margin-top: 0.2rem;
  color: #555555;
  padding-bottom: 4rem;
}

#addToShoppingCart {
  display: flex;
  position: fixed;
  background-color: #50c878;
  width: 23rem;
  bottom: 0.75rem;
  height: 3rem;
  border-radius: 0.5rem;
  margin-left: calc((40rem - 23rem) / 2);
  justify-content: center;
}

#addToShoppingCart p,
.checkOut p,
.pay p,
.seeRecipes p {
  font-size: 1rem;
  color: #ffffff;
  align-self: center;
}

#addToShoppingCart:hover,
.checkOut:hover,
.pay:hover,
.seeRecipes:hover {
  background-color: #47af69;
  cursor: pointer;
}

/*#endregion*/

/* The following code was influenced by https://www.youtube.com/watch?v=zdA3qZNH1vc Created on: 02/12/2022 */

footer {
  position: absolute;
  position: fixed;
  height: auto;
  width: 100vw;
  font-family: "Inter", sans-serif;
  padding-top: 40px;
  color: grey;
  background: #e5e5e5;
  bottom: 0;
  left: 0;
  right: 0;
}

.cart h1 {
  margin-left: 1rem;
  margin-top: 1rem;
}

hr {
  border: 0.05rem solid #bababa;
  width: 45rem;
}

.cartMeal {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}



.text-center {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
  margin-left: calc((23rem - 18rem) / 2);
}

.continue {
  display: flex;
  position: absolute;
  background-color: #ffffff;
  border: solid #bababa 0.1rem;
  width: 18rem;
  height: 3rem;
  border-radius: 0.5rem;
  justify-content: center;
  margin-left: calc((23rem - 18rem) / 2);
  margin-top: 8rem;
}

.continue p {
  font-size: 1rem;
  color: #000000;
  align-self: center;
}


.footer-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.summaryOrder {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  max-width: 23rem;
  width: 100%;
  padding: 1rem 0;
}

.summaryOrder h1,
.paymentDetails h1 {
  margin-top: 1rem;
  margin-left: 1rem;
}

.summaryOrderInfo {
  display: flex;
  margin-top: 2rem;
}

.summaryOrder img {
  display: inline-block;
  width: 8rem;
  height: 4.9rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.summaryOrder hr {
  width: 21rem;
}

.summaryOrderName {
  display: inline-block;
}

.money {
  margin-left: 9.7rem;
  transform: translateY(-2rem);
}

.paymentDetails {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  width: 100%;
  max-width: 47rem;
  height: 40rem;
}

.paymentDetails form {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 1rem;
  row-gap: 0.5rem;
  margin: 0 auto;
}

.paymentDetails input:focus {
  border: 1px solid #50c878;
}

.paymentDetails input {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 2rem;
  border: 1px solid #bababa;
  border-radius: 0.5rem;
  padding: 1rem;
}

.paymentDetails label {
  margin-top: 0.5rem;
}

.paymentDetails .billingAddress input {
  border: none;
}

.cardNumber {
  display: grid;
  grid-template-columns: 1fr 5rem 5rem;
}

#number {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#exDate {
  border-left: none;
  border-radius: 0;
}

#cvc {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.billingAddress {
  border: 1px solid #bababa;
  border-radius: 0.5rem;
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  height: 4rem;
  row-gap: 0rem;
}

.billingAddress input:focus {
  border: 1px solid #50c878;
}

#street {
  grid-column-start: 1;
  grid-column-end: 3;
  border-bottom: 1px solid #bababa;
  border-radius: 0;
}

#city {
  border-right: 1px solid #bababa;
  border-radius: 0;
  grid-column-start: 1;
  grid-column-end: 2;
}

#zipCode {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.cardDetails,
.billingAddress {
  display: flex;
}

.infoText {
  color: #bababa;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.totalPay {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1rem;
}

.payButton {
  display: flex;
  justify-content: center;
}

.pay {
  display: inline-flex;
  position: absolute;
  background-color: #50c878;
  width: 60%;
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  justify-content: space-evenly;
}

.successful {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: calc(100vw - 6rem);
  height: 40rem;
  margin-left: 3rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
}

.successful h1 {
  color: #50c878;
}

.footer-icons li {
  margin: 0 6px;
}

@media screen and (min-width: 901px) and (max-width: 1300px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-left: 1rem;
    cursor: pointer;
  
  }

  

  .hamburgerMenu img {
    width: 1.4rem;
  }

  #hamburgerMenuOptions {
    z-index: 5;
    position: fixed;
    top: 3.75rem;
  }

  #hamburgerMenuOptions ul {
    width: 8rem;
    background-color: #ffffff;
    border-bottom-right-radius: 1rem;

    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  #hamburgerMenuOptions ul li {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0.2rem;
  }

  #hamburgerMenuOptions ul li a {
    text-decoration: none;
    color: #000000;
  }

  #hamburgerMenuOptions ul li a.active {
    color: #50c878;
  }

  .shoppingCart {
    margin-left: calc(100% - 1.4rem - 1rem);
  }

  #shoppingCartBallMobile {
    margin-left: calc(33% - 1rem - 0.5rem);
    transform: translateY(-0.8rem);
  }

  .swedishBreakfast {
    width: 95%;
    margin: 0 2.5%;
  }

  .swedishBreakfast img {
    width: 100%;
  }

  .cardImage {
    height: calc(100% * 0.62);
    object-fit: cover;
  }

  .time img {
    width: 1.4rem;
  }

  .reviews img {
    width: 1.4rem;
  }

  h1,
  .swedishBreakfast h1 {
    font-size: 1.25rem;
  }

  #details {
    width: 95%;
    max-width: none;
  }

  #image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }

  .howTo {
    padding-bottom: 5rem;
  }

  .clock {
    top: 12.5rem;
    left: 0.5rem;
  }

  #close {
    left: calc(95% - 2rem + 0.5rem);
    top: 0.5rem;
  }

  #addToShoppingCart {
    width: 60%;
    margin-left: 20%;
  }

  .shoppingCartSite {
    width: 100%;
    grid-template-columns: 1fr;
  }

  hr {
    width: 100%;
  }

  .cart {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0 calc(100% - 90% - 5%);
  }

  #cartMealImage {
    width: 40%;
    object-fit: cover;
  }

  .cartMeal {
    margin: 0;
    padding: 0;
  }

  .cartMealMoney {
    display: none;
  }

  .cartMealInfo {
    width: 55%;
  }

  .cartMealP {
    margin-top: 0;
  }

  .cartMealAvailable {
    margin-top: 0;
  }

  .total {
    left: 0;
    margin: 1.5rem calc(100% - 90% - 5%);
  }

  .paymentFlex {
    padding-bottom: 2rem;
  }

  .payment {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .paymentDetails {
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
  }

  .summaryOrder {
    width: 100%;
    height: auto;
    left: 5%;
  }

  .summaryOrder h1 {
    margin-top: 0;
  }

  .successfulPage {
    height: 40vh;
  }

  .successful {
    height: 40vh;
  }
}

body {
  color: #90e0ef;
  font-size: 30px;
  text-align: center;
}

.topnav {
background-color: #ffffff;
position: fixed;
display: flex;
width: 100vw;
height: 10rem;
margin: 0;
flex-direction: row;
justify-content: end;
box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
z-index: 4;
overflow: hidden;
justify-content: left;
padding-left: 4rem;
padding-top: 1rem;
}

/* 
 The code for positioning the image on top of the other was influenced by https://www.tutorialrepublic.com/faq/how-to-overlay-one-div-over-another-div-using-css.php#:~:text=You%20can%20use%20the%20CSS,%2C%20fixed%20%2C%20or%20relative%20). */

.gridContainer {
  display: inline-block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
} 

#box2 {
  display: inline-block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  padding-right: 18rem;
  width: 300px;
  height: 300px;
  position: relative;
  
  
 
} 

.cow {
  width: 100%;
  height: 100%;            
  top: 15rem;
  left: 12rem;
  position: absolute;
  position: top;
  position: left;
  animation: jump 0.6s linear infinite alternate;
  
} 

@keyframes jump {
  0% {transform: translateY(0px); }
  50% {transform: translateY(-10px); }
  100% {transform: translateY(0px); }
}

.confetti {
  z-index: 9;
  padding-right: 12rem;
  animation-name: animated-confetti;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;

}

body {
  margin: 10px;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
}

.container {
    display: inline-block;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding-right: 5rem;
    margin-left: 11cm;
    margin-top: 3cm;

  } 
 

ul li, p {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  list-style: none;
}


li {
    font-size: 15px;
    margin-top: 25px;
    padding: 15px;
}

h1 {
    font-size: 30px;
    margin-left: 1cm;
    color: #adb5bd;
}


ul :hover {
    color: lightblue;
}

#FAQ :hover {
    color: #90be6d;
}
