html,

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

body {
  display: block;
}

.container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 4.75rem 1fr 4.75rem;
  grid-template-areas:
      "header header header"
      ". content ."
      "footer footer footer";
  min-height: 150vh;
  row-gap: 2rem;
  position: relative;  
}

.header {
  grid-area: header;
}

.topnav {
  background-color: #ffffff;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 4.75rem;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  z-index: 4;
  overflow: hidden;
}

.logo {
  margin-left: 1rem;
}


.logo img {
  height: 4.75rem;
  padding: 0.25rem 0;
  padding-top: 0.25rem;
  padding-right: 0px;
  padding-bottom: 0.25rem;
  padding-left: 0px;
  box-sizing: border-box;
}


.box h1{
  color: grey;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dbdbdb;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 1010px;
}

.topnav ul li a {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  list-style: none;
  text-decoration: underline;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.topnav ul li a:hover {
  color: #50c878;
}

.topnav ul .shoppingCartParent {
  width: 2.4rem;
}


.topnav ul {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 2rem;
}



.shoppingCart img {
  width: 1.4rem;
}

.howTo {
  font-size: 0.75rem;
  text-align: start;
  margin-top: 0.2rem;
  color: #555555;
  padding-bottom: 4rem;
}

#hamburgerMenuOptions {
  z-index: 5;
  position: fixed;
  top: 3.75rem;
}

#hamburgerMenuOptions ul {
  width: 8rem;
  background-color: #ffffff;
  border-bottom-right-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

#hamburgerMenuOptions ul li {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0.2rem;
}

#hamburgerMenuOptions ul li a {
  text-decoration: underline;
  color: #000000;
}

#hamburgerMenuOptions ul li a.active {
  color: #50c878;
}


.topnav ul li {
  text-align: center;
  align-self: center;
  list-style: none;
  padding: 0 1rem;
  margin: 0 1rem;
}


input {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  width: 10rem;
  color: #999999;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  padding-top: 25px;
}

button {
  padding: 10px 13px;
  border: none;
  outline: none;
  background: rgb(132, 129, 129);
  color: #f5efff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 12px;
  margin-right: 10px;
}

#Submit {
  font-size: 11px;
  padding: 7px 14px;
  margin-top: 10px;
  margin-left: 12px;
  background-color: #c6bebe;
  color: #e7e3ef;
  border-radius: 33px;
  font-weight: bolder;
}


.gridContainer {
  grid-area: content;
  display: inline-block;
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  margin: 0;
}


ul li, p span {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  list-style-type: none;
}


li {
    font-size: 15px;
    margin-top: 25px;
    padding: 15px;
}


h1 {
    margin-left: 5rem;
    color: #adb5bd;
    padding-top: 2rem;
}


ul :hover {
    color: lightblue;
}

#FAQ :hover {
    color: #90be6d;
}

ul li{
  list-style: none;
  font-size: 15px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}


ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.star {
  width: 12px;
  float: left;
  width: 14px;
  padding: 6px;  
}

.list-box::after {
  content: "";
  clear: both;
  display: table;
}


.text-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  max-width: 12rem;
  text-align: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.text-center a img {
  width: 100%;
  height: 100%;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.text-center a {
  filter: grayscale(90%);
  transition: 200ms;
  cursor: pointer;
}

.text-center a:hover {
  filter: grayscale(0);
  transition: 200ms;
  cursor: pointer;
}

.text-center h1 {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;
}

.text-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  max-width: 12rem;
  text-align: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.text-center a img {
  width: 100%;
  height: 100%;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.text-center a {
  filter: grayscale(90%);
  transition: 200ms;
  cursor: pointer;
}

.text-center a:hover {
  filter: grayscale(0);
  transition: 200ms;
  cursor: pointer;
}

.row {
  margin-top: 4rem;
  margin-left: 2rem;
}

ul li.checked{
  color: cornflowerblue;
  text-decoration: underline;
}

.rating {
  margin-left: 4rem;
  font-size: 20pt;
  color: rgb(241, 208, 60);
} 


.rating .star {
  cursor: pointer;
}

.rating .star.active {
  opacity: 0;
  animation: animate .6s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rating .star:hover {
  transform: scale(1.1);
}

/* following code was helped by Chatgpt */
.card-holder {
  background-color: #8a77af;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 30px rgba(14, 19, 23, 0.15);
  margin: auto; 
  margin-bottom: 6rem; 
  position: absolute; 
  bottom: 5%;
  left: 50%; 
  transform: translate(-50%, 0); 
}

.text-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.review {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

/* end of region of help */




h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 1px;
  margin-bottom: 2rem;
}


h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 9px;
}


h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  color: #a4a1a1;
  padding-left: 10px;
  padding-top: 9px;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 9px;
}



/* The following code was influenced by https://www.youtube.com/watch?v=zdA3qZNH1vc Created on: 02/12/2022 */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.75rem;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
}



/*#endregion*/
